.App {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 22px;
}

h1,
h2 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

p {
	margin: 0;
	font-size: 14px;
}

p:not(:first-child) {
	margin-top: 10px;
}

@media only screen and (max-width: 600px) {
	.App {
		padding: 10px;
	}
}